<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="layout/layout :: head">

</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="card ">
		<div class="card-header text-primary" th:text="${titulo}"
			style="font-size: 30px;"></div>
		<div class="card-body  bg-secondary">

			<div class="container" style="margin-top: 15px;">

				<div class="form">

					<div th:object="${cliente}" th:remove="tag">

						<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">

							<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>

						</ul>

					</div>

					<form th:action="@{/form}" th:object="${cliente}" method="post"
						enctype="multipart/form-data">

						<div class="form-group row my-2">

							<label class="col-sm-2 col-form-label">Nombre</label>
							<div class="col-sm-6">
								<input type="text" value="Nombre" th:field="*{nombre}"
									class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
							</div>
						</div>
						<div class="form-group row my-2">
							<label class="col-sm-2 col-form-label">Apellido</label>
							<div class="col-sm-6">
								<input type="text" value="Apellido" th:field="*{apellido}"
									class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('apellido')}"
									th:errors="*{apellido}"></small>
							</div>
						</div>
						<div class="form-group row my-2">
							<label class="col-sm-2 col-form-label">Email</label>
							<div class="col-sm-6">
								<input type="text" value="Email" th:field="*{email}"
									class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
							</div>
						</div>


						<div class="form-group row my-2">
							<label class="col-sm-2 col-form-label">Fecha</label>
							<div class="col-sm-6">
								<input type="text" value="Fecha" th:field="*{createAt}"
									class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('createAt')}"
									th:errors="*{createAt}"></small>
							</div>
						</div>

						<div class="form-group row my-2">
							<label for="file" class="col-sm-2 col-form-label">Foto</label>
							<div class="col-sm-6">
								<input type="file" name="file" class="form-control">
							</div>
						</div>

						<div class="form-group row " style="margin-top: 15px;">
							<div class="col-sm-4">
								<button type="submit" class="btn btn-dark form-control">Crear
									Cliente</button>
							</div>



						</div>




						<!-- <input type="hidden" th:field="*{id}">   Se cambia por el Session Attribute -->

					</form>


				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>

	<div th:replace="layout/layout :: javascript"></div>
</body>
</html>